* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Source Sans 3', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  body {
    font-size: 1.125rem;
  }
}

/* ======
Typography
====== */

h1,
.btn,
.time-read {
  font-family: 'Blinker', sans-serif;
}

.tips-title {
  color: #05cbe9;
  font-size: 1.75rem;
  margin: 0;
}

span {
  display: block;
  font-size: 2rem;
}

.tips-body {
  line-height: 1.5;
}

.time-read {
  opacity: 0.6;
  line-height: 1;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.25rem;
  }
}

/* ======
Layout
====== */

.container {
  background: #111d4a;
  max-width: 800px;
  display: grid;
  grid-template: 200px 1em auto auto 100px 1em / 1em auto auto 1em;
}

img {
  object-fit: cover;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
}

.tips-title {
  grid-row: 3;
  grid-column: 2 / -2;
}

.tips-body {
  max-width: 440px;
  grid-row: 4;
  grid-column: 2 / -2;
}

.time-read {
  grid-row: 5;
  grid-column: 2;
  align-self: end;
}

.btn {
  display: inline-block;
  cursor: pointer;
  background: #05cbe9;
  color: #111d4a;
  padding: 0.125em 1em;
  height: 45px;
  font-weight: 700;
  font-size: 1.25rem;
  border: none;
  letter-spacing: 1px;
  grid-row: 5;
  grid-column: 3;
  align-self: end;
  justify-self: end;
}

@media (min-width: 600px) {
  .container {
    grid-template: 1em auto auto 100px 1em / 200px auto auto 0px;
    grid-gap: 0 1em;
  }
  img {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
  }
  .tips-title {
    grid-row: 2;
  }
  .tips-body {
    grid-row: 3;
  }
  .time-read,
  .btn {
    grid-row: 4;
  }
}
