* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Source Sans 3', sans-serif;
  color: #fff;
}

@media (min-width: 600px) {
  body {
    font-size: 1.125rem;
  }
}

/* ======
Typography
====== */

h1,
.btn,
.time-read {
  font-family: 'Blinker', sans-serif;
}

.tips-title {
  color: #05cbe9;
  font-size: 1.75rem;
  margin: 0;
}

span {
  display: block;
  font-size: 2rem;
}

.tips-body {
  line-height: 1.5;
}

.time-read {
  opacity: 0.6;
  line-height: 1;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.25rem;
  }
}

/* ======
Layout
====== */

.container {
  background: #111d4a;
  max-width: 800px;
}
/*
img {
}

.tips-title {
}

.tips-body {
  max-width: 440px;
}

.time-read {
}

.btn {
  display: inline-block;
  cursor: pointer;
  background: #05cbe9;
  color: #111d4a;
  padding: 0.125em 1em;
  height: 45px;
  font-weight: 700;
  font-size: 1.25rem;
  border: none;
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  .container {
  }
  img {
  }
  .tips-title {
  }
  .tips-body {
  }
  .time-read {
  }
  .btn {
  }
}
*/
