* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #2c73d2;
  color: #fff;
  text-align: center;
}

.flex-container {
  border: 10px solid #f9f871;
  max-width: 700px;
  margin: 0 auto;
  padding: 0.25em;
  /*  */
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.flex-item {
  background: #8bee86;
  margin: 25px;
  padding: 25px;
  color: #424656;
}

.big {
  font-size: 2rem;
}
